{% extends "base.html" %}
{% block content %}


{% if user_logged_in %}
<h1>Kirjautuneena käyttäjällä: {{user_logged_in.nimi}}</h1>
{% endif %}



<h1>Syödyt annokset</h1>



<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Kcal</th>
            <th>Proteiini</th>
            <th>Hiilihydraattit</th>
            <th>Rasva</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        {% for annos in ruokailut %}
        <tr>
            <td><a href="{{base_path}}/ravintokirja/annos/{{annos.id}}">{{annos.nimi}}</a></td>


            <td>{{annos.kcal}}</td>
            <td>{{annos.proteiini}}g</td>
            <td>{{annos.hiilihydraatit}}g</td>
            <td>{{annos.rasva}}g</td>



            <th>

                <form method="post" action="{{base_path}}/ravintokirja/ruokailut/{{annos.idd}}/destroy" style="display: inline-block;">
                    <button type="submit" class="btn btn-danger">Poista</button>
                </form>
            </th>


        </tr>
        {% endfor %}
    </tbody>
</table>



<table class="table table-striped table-bordered">
    <thead>
        <tr>

            <th>Kcal</th>
            <th>Proteiini</th>
            <th>Hiilihydraattit</th>
            <th>Rasva</th>

        </tr>
    </thead>

    <tbody>

       

        <tr>
           


            <td>{{total.kcal}}</td>
            <td>{{total.proteiini}}g</td>
            <td>{{total.hiilihydraatit}}g</td>
            <td>{{total.rasva}}g</td>



        </tr>
      
    </tbody>
</table>












<h1>Annokset</h1>

<p>
    <a href="https://harrihei.users.cs.helsinki.fi/tsoha/ravintokirja/lisaaannos" class="btn btn-success">Lisää annos</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Kcal</th>
            <th>Proteiini</th>
            <th>Hiilihydraattit</th>
            <th>Rasva</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        {% for annos in tiedot %}
        <tr>
            <td><a href="{{base_path}}/ravintokirja/annos/{{annos.id}}">{{annos.nimi}}</a></td>


            <td>{{annos.kcal}}</td>
            <td>{{annos.proteiini}}g</td>
            <td>{{annos.hiilihydraatit}}g</td>
            <td>{{annos.rasva}}g</td>




            <th>

                <form method="post" action="{{base_path}}/ravintokirja/ruokailut/{{annos.id}}/eat" style="display: inline-block;">
                    <button type="submit" class="btn btn-success">Syö</button>
                </form>
            </th>

        </tr>
        {% endfor %}
    </tbody>
</table>





{% endblock %}