{% extends "base.html" %}
{% block content %}



<h1>Muokkaa annosta: {{annos.nimi}}</h1>

<p>
    <a href="https://harrihei.users.cs.helsinki.fi/tsoha/ravintokirja/annos" class="btn btn-success">Takaisin annoksiin</a>
</p>


<form method="post">



    <div class="form-group">
        <label>Nimi</label>
        <input type="text" name="nimi" class="form-control" value={{annos.nimi}}>
    </div>



    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>

</form>



<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Määrä grammoissa</th>
            <th></th>
            <th></th>
        </tr>


    </thead>

    <tbody>
    <h2>Muokkaa lisättyjä raaka-aineita</h2>

    {% for raakaaine in annosraakaaineet %}


    <tr>
    <form method="post" action="{{base_path}}/ravintokirja/annos/{{annos.id}}/update/{{raakaaine.rid}}" style="display: inline-block;">
            <td><a href="{{base_path}}/ravintokirja/raakaaine/{{raakaaine.rid}}">{{raakaaine.nimi}}</a></td>
            <td>

                <input type="text" name="maara" class="form-control" value={{raakaaine.maara}}>

            </td>
            <th>


                <button type="submit" class="btn btn-primary">Muokkaa</button>
        </form>

    </th>

    <th>
        <form method="post" action="{{base_path}}/ravintokirja/annos/{{annos.id}}/destroy/{{raakaaine.rid}}" style="display: inline-block;">
            <button type="submit" class="btn btn-danger">Poista</button>
        </form>

    </th>

</tr>

{% endfor %}

</tbody>
</table>





<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>kcal/100g</th>
            <th>Proteiini/100g</th>
            <th>Hiilihydraattit/100g</th>
            <th>Rasva/100g</th>
            <th>Määrä grammoissa</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
    <h2>Lisää raakaaine</h2>
    {% for raakaaine in raakaaineet %}

    <tr>

    <form method="post" action="{{base_path}}/ravintokirja/annos/{{annos.id}}/lisaaraakaaine/{{raakaaine.id}}" style="display: inline-block;">
        <td><a href="{{base_path}}/ravintokirja/raakaaine/{{raakaaine.id}}">{{raakaaine.nimi}}</a></td>
        <td>{{raakaaine.kcalper100}}</td>
        <td>{{raakaaine.proteiiniper100}}</td>
        <td>{{raakaaine.hiilihydraatitper100}}</td>
        <td>{{raakaaine.rasvaper100}}</td>
        <td>

            <input type="text" name="maara" class="form-control" value=0>

        </td>
        <th>



            <button type="submit" class="btn btn-primary">Lisää annokseen</button>
    </form>


</th>
</tr>

{% endfor %}


</tbody>
</table>




<form method="post" action="{{base_path}}/ravintokirja/annos/{{annos.id}}/destroy" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Poista</button>
</form>






{% endblock %}


