{% extends "base.html" %}
{% block content %}


{% if user_logged_in %}
<h1>Kirjautuneena käyttäjällä: {{user_logged_in.nimi}}</h1>
{% endif %}




<h1>Raaka-aineet</h1>

<p>
    <a href="https://harrihei.users.cs.helsinki.fi/tsoha/ravintokirja/lisaaraakaaine" class="btn btn-success">Lisää raaka-aine</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>kcal/100g</th>
            <th>Proteiini/100g</th>
            <th>Hiilihydraattit/100g</th>
            <th>Rasva/100g</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        {% for raakaaine in raakaaineet %}
        <tr>
            <td><a href="{{base_path}}/ravintokirja/raakaaine/{{raakaaine.id}}">{{raakaaine.nimi}}</a></td>
            <td>{{raakaaine.kcalper100}}</td>
            <td>{{raakaaine.proteiiniper100}}</td>
            <td>{{raakaaine.hiilihydraatitper100}}</td>
            <td>{{raakaaine.rasvaper100}}</td>
            <th><a class="btn btn-default btn-sm" href="{{base_path}}/ravintokirja/raakaaine/{{raakaaine.id}}/edit">Muokkaa</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>





{% endblock %}